*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
}

main {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.topHalf {
    height: 65%;
    background-color: #191970;
}

.bottomHalf {
    /* Bug fixing */
    height: 35%;
    background-color: #7D0006;
    border: 4mm ridge #FFFFFF;    
}

.screenDisplay {
    width: 100%;
    height: 100%;
    display: flex;
}

.screen {
    border: 4mm ridge #FFFFFF;    
    border-bottom: 0mm;
    border-right: 0mm;    
    background-color: #191970;
    width: 80%;
    height: 100%;
}

.inventory {
    border: 4mm ridge #FFFFFF;
    border-bottom: 0mm;    
    background-color: #98572b;
    width: 20%;
    height: 100%;
}

.storyDisplay {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.btnGrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    /* margin-top: 20px;
    margin-left: 7vw;
    margin-left: 7vw; */
    height: 100%;
    width: 90%;
}

.textDisplay {
    display: flex;
    height: 30%;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    
}

#text {
    font-size: 40px;
    display: block;
    color: #FFFFFF;
    font-size: larger;
}

.buttons {
    display: flex;
    height: 30%;
    width: 100%;
    margin: 1%;
}

.btn {
    max-width: 20vw;
    max-height: 30vh;
    margin: 10%;
    border-radius: 10% / 50%;
    border: 2mm ridge #FFFFFF;   
    text-align: center;
}

.btnAdvances {
    display: flex;
    flex-direction: column;
    width: 10%;
}