*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
}

main {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 99vh;
}

.topHalf {
    height: 65%;
    background-color: #191970;
}

.bottomHalf {
    /* Bug fixing */
    height: 35%;
    width: 100vw;
    background-color: #7D0006;
    border: 4mm ridge #FFFFFF;
}

.screenDisplay {
    width: 100vw;
    height: 100%;
    display: flex;
}

#screen {
    border: 4mm ridge #FFFFFF;
    /* border-bottom: 0mm;
    border-right: 0mm; */
    width: 80%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.startVillage{
    background-image: url(/Images/startVillage.png);
}

.marryForge{
    background-image: url(/Images/MarryForge.png);
}







.inventory {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    color: white;
    border: 4mm ridge #FFFFFF;
    border-bottom: 0mm;
    background-color: #693f15;
    width: 20%;
    height: 100%;

}

.storyDisplay {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.btnGrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 7px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.textDisplay {
    display: flex;
    height: 30%;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;

}

#text {
    font-size: clamp(.8rem, 0.4982rem + 1.03vw, 1.7rem);
    display: block;
    color: #FFFFFF;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 100%;
}

.btn {

    border-radius: 10% / 50%;
    border: 2mm ridge #FFFFFF;
    text-align: center;
    height: 10vh;
    max-height: 50%;
    min-width: 15vw;
    max-width: 25vw;
}

.btn:hover {
    /* background-color:#d2d2d2 ; */
    border-color: #000000;
    color: rgb(79, 10, 10)
}

@media (width <=700px) {

    .btn {
        min-width: 18vw;
        max-height: 70%;
    }

    .btnGrid {
        height: 100%;
    }

    .textDisplay {
        height: 40%;
    }

    #screenDisplay {
        flex-direction: column;
    }

    .inventory,
    #screen {
        display: flex;
        width: 98vw;
        border-bottom: 0mm;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .bottomHalf {
        width: 98vw;
    }

    .invText,
    .staText {
        display: flex;
        flex-direction: column;
    }
}

@media (width <=501px) {

    #screen {
        display: none;
    }

    #text {
        font-size: medium;
    }

    .inventory {
        display: flex;
        height: 78vw;
    }

    .bottomHalf {
        height: 166vw;
    }

    .btnGrid {
        grid-template-columns: repeat(3, auto);
    }
}

@media (width <=431px) {
    .btn {
        min-width: 20vw;
        max-width: 30vw
    }

    .inventory {
        height: 50vh;
    }

    .bottomHalf {
        height: 70vh;
    }


    #screen {
        display: none;
    }
}

@media (width <=375px) {
    .btn {
        font-size: xx-small;
        max-height: 95%;
        min-width: 20vw;
        max-width: 30vw
    }

    #invText,
    #staText {
        font-size: x-small;
    }

    .invText>h2,
    .staText>h2 {
        font-size: small;
    }

    .topHalf,
    .bottomHalf {
        height: 50%;
    }
}

@media (width <=300px) {

    .inventory {
        height: 30vh;
        flex-direction: row;
    }

.textDisplay{
    max-height: 35vh;
}

.bottomHalf{
    height: 111vh;
}
    #screen {
        display: none;
    }

    .btn {
        max-height: 20vh;
        min-width: 20vw;
        max-width: 60vw
    }

    .btnGrid {
        height: 100%;
        grid-template-columns: repeat(1, auto);
    }
}
/* @media (width <) */
/* 

 .screen{
    display: none;
 }


 
 #invText,
 #staText {
     font-size: medium;
 }

 .invText>h2,
 .staText>h2 {
     font-size: large;
 }

 */